.capability {
  margin-bottom: baseline(2);

  @include breakpoint(map-get($breakpoints, tablet)) {
    @include span(4 of 12);
    margin-bottom: 0;

    &:last-child {
      @include span(4 of 12 last);
    }
  }

  &__title {
    @extend %h4;
  }

  &__services {
    @extend %list-reset;
    list-style: none;
    color: $color__text-light;
  }
}