.case-study {
  &__objective {
    font-size: 48px;
    font-weight: 400;
  }

  &__content {
    font-size: 21px;
    
    h3 {
      font-size: 32px;
      color: black;
      font-weight: 400;
    }
  }
}

