.clients {
  @extend %list-reset;
  list-style: none;
}

.client {
  &__article {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 6px;
    font-weight: 100;
  }

  &__tagline {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
    font-weight: 400;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #5C5C5C;
  }

  &--featured {
    & + & {
      border-top: 1px dotted #9B9B9B;
    }

    .client__article {
      padding-top: 35px;
      padding-bottom: 36px; // for the border
    }

    .client__name {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 12px;
    }

    .client__tagline {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 12px;
    }

    .client__description {
      font-size: 21px;
      line-height: 36px;
      margin-bottom: 12px;
    }

    a[rel="shortlink"] {
      text-transform: uppercase;
      font-size: 21px;
      line-height: 24px;
      display: inline-block;
    }
  }

  &--private {
    .client__name {
      font-size: 36px;
      line-height: 48px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}

.clients-section {
  &--showcase {
    @include span(8 of 12);  
  }

  &--private {
    @include span(4 of 12 last);
  }  
}