.clients {
  @extend %list-reset;
  list-style: none;
}

.client {
  &__article {
    padding-top: baseline(0.5);
    padding-bottom: baseline(0.5);
  }

  &__description {
    margin-bottom: 0;
  }

  &__name {
    margin-bottom: 12px;

    @include breakpoint(map-get($breakpoints, tablet)) {
      margin-bottom: 24px;
    }
  }

  a[rel="shortlink"] {
    text-transform: uppercase;
    display: inline-block;
  }

  &--showcase {
    .client__name {
      margin-bottom: 0;
      font-weight: 100;
    }

    .client__tagline {
      margin-bottom: 0;
      font-weight: 400;
    }
  }

  &--featured {
    &:not(:last-child) {
      border-bottom: 1px dotted #9B9B9B;
    }    

    .client__article {
      padding-top: baseline(1);
      padding-bottom: baseline(1);
      margin-bottom: -1px;

      @include breakpoint(map-get($breakpoints, desktop-small)) {
        padding-top: baseline(1);
        padding-bottom: baseline(1);
      }
    }

    .client__description {
      @extend %h5;
    }
  }

  &--private {
    .client__name {
      @extend %h2;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}

.clients-section {
  @include breakpoint(map-get($breakpoints, desktop-small)) {
    &--showcase {
      @include span(8 of 12);  
    }

    &--private {
      @include span(4 of 12 last);
    }
  }
}