#mce-EMAIL {
  display: block;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 21px;
  width: 100%;
}

#mc-embedded-subscribe {
  @extend .button--large;
  border: none;
}

.mc-field-groups {
  @include clearfix;
  width: 100%;
}

.mc-field-group {
  @include span(9 of 12);
}

.mc-button-group {
  @include span(3 of 12 last);
}