$colors-list: #E67E22 #D0021B #9013FE #4A90E2 #50E3C2;

.process-steps {
  @extend %list-reset;

  .process-step {
    @include span(8 of 12);
    list-style-type: none;

    @each $current-color in $colors-list {
      $i: index($colors-list, $current-color);

      &:nth-child(#{$i}) {
        @include push(($i - 1) of 12);

        .process-step__name:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 72px;
          color: rgba(255,255,255,0.5);
          content: '#{$i}';
        }

        .process-step__circle {
          background-color: $current-color;
        }
      }
    }

    &__title {
      @include span(2 of 8);
      font-weight: 100;
    }

    &__circle {
      width: 100%;
      padding-bottom: 100%;
      height: 0;
      background-color: #E67E22;
      border-radius: 50%;
      position: relative;
      text-align: center;
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 20px;
    }

    &__content {
      @include span(6 of 8 last);
    }
  }
}