.site-footer {
  @include breakpoint(map-get($breakpoints, tablet)) {
    &__contact {
      @include span(4 of 12 last);
    }

    &__about {
      @include span(8 of 12 narrow);

      .headshot {
        @include span(2 of 8);
      }
    }

    &__content {
      @include span(6 of 8 last);
    }
  }
}

.copyright {
  margin-top: baseline(0.5);
  margin-bottom: baseline(0.5);

  p {
    margin-bottom: 0;
    color: $color__text-light;
  }
}

// This is dirty. I don't like it.
.headshot {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50% 50%;
  margin: 0 auto baseline(1);

  @include breakpoint(map-get($breakpoints, tablet)) {
    width: 100%;
    height: 100%;  
  }
}

.contact-items {
  @extend %list-reset;
  list-style: none;
}

