// Should be used in the future!
.main-navigation {

  @include breakpoint(map-get($breakpoints, tablet)) {
    .menu-primary-menu-container {
      @include clearfix;
      display: inline-block;
      margin-right: 12px;

      .nav-menu {
        float: left;

        .page_item, .menu-item {
          a {
            @include font-size(1);
            line-height: 48px;
            padding-left: 18px;
            padding-right: 18px;
            color: $color__text-light;
            display: inline-block;

            &:hover, &:active, &:focus {
              color: darken($color__text-light, 20%);
            }
          }

          &.current-menu-item {
            a {
              color: $color__text-dark;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 12px;
}

.main-navigation {
  float: right;
  width: 100%;

  @include breakpoint(map-get($breakpoints, tablet)) {
    width: auto;
  }

  .button {
    display: none; 

    @include breakpoint(map-get($breakpoints, tablet)) {
      display: inline-block;
      float: right;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    @include breakpoint(map-get($breakpoints, tablet)) {
      float: left;
      position: relative;
    }

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}






/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

// this is dirty.
@media screen and (max-width: 767px) {
  .main-navigation.toggled {
    ul {
      background-color: white;
      margin-left: -16px;
      margin-right: -16px;
      border-bottom: 1px solid $light-gray;

      li {
        padding: 6px 16px;
        text-align: center;
        border-top: 1px solid $light-gray;
        color: $color__background-light;
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, tablet)) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
