// Custom Colors
$color__accent: #50E3C2;
$dark-gray: #4A4A4A;
$light-gray: #ABABAB;
$color__background-light: #fafafa;
$color__background-dark: #5C5C5C;

// From variables-site/_colors.scss
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-dark: $dark-gray;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__accent;
$color__link-visited: $color__accent;
$color__link-hover: darken($color__accent, 20%);
$color__text-main: #4A4A4A;
$color__text-light: #ABABAB;
$color__text-dark: #000000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// From variables-site/_typography.scss
$font__main: "proxima-nova", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// From variables-site/_structure.scss
$size__site-main: 100%;
$size__site-sidebar: 25%;

// Sass Map Containing Media Query Breakpoints
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop-small: 992px,
  desktop-large: 1200px
);


$h1-font-sizes: (
  null: 36px,
  mobile: 36px,
  tablet: 48px,
  desktop-small: 60px
  );

$h2-font-sizes: (
  null: 32px,
  mobile: 32px,
  tablet: 36px,
  desktop-small: 48px
  );

$h3-font-sizes: (
  null: 21px, 
  mobile: 21px,
  tablet: 24px,
  desktop-small: 36px
  );

$h4-font-sizes: (
  null: 18px,
  mobile: 18px,
  tablet: 21px,
  desktop-small: 24px
  );

$h5-font-sizes: (
  null: 16px,
  mobile: 16px,
  tablet: 18px,
  desktop-small: 21px
  );

$h6-font-sizes: (
  null: 14px,
  mobile: 14px,
  tablet: 16px,
  desktop-small: 18px
  );

$p-font-sizes: (
  null: 14px,
  mobile: 14px,
  tablet: 16px,
  desktop-small: 16px
  );

// SUSY STUFF
$susy: (
  columns: 12,
  container: 960px,
  global-box-sizing: border-box,
  column-width: 60px,
  gutters: 20px/60px,
);