.button {
  display: inline-block;
  background-color: $color__accent;
  color: white;
  padding: 6px 24px;
  border-radius: 100px; // overcompensation
  color: white;
  letter-spacing: 0.02em;
  font-weight: 100;
  line-height: 24px;

  &:visited {
    color: white;
  }

  &:hover, &:active, &:focus {
    background-color: darken($color__accent, 20%);
  }

  &--large {
    padding: 12px 48px;
    font-size: 21px;
  }

  &--block {
    display: block;
    width: 100%;
  }
}